In [1]:
import pandas as pd

In [32]:
age=pd.read_csv("weight-height.csv")

In [33]:
age.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [73]:
age.shape

(10000, 3)

In [13]:
age.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989698

In [14]:
age.count()

Gender    10000
Height    10000
Weight    10000
dtype: int64

In [15]:
age.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [18]:
age.Height.unique()

array([73.84701702, 68.78190405, 74.11010539, ..., 63.86799221,
       69.03424313, 61.94424588])

In [19]:
age.Weight.unique()

array([241.8935632, 162.3104725, 212.7408556, ..., 128.4753188,
       163.8524613, 113.6491027])

In [54]:
age.sort_values(by='Height',inplace=True)

In [55]:
q2=age.Height.quantile(0.50)

In [56]:
q2

66.31807008

In [63]:
age.head(10)

      Gender     Height      Weight
9285  Female  54.263133   64.700127
6624  Female  54.616858   71.393749
7294  Female  54.873728   78.606670
7617  Female  55.148557   88.812412
5345  Female  55.336492   88.366583
8692  Female  55.651892   85.621776
5360  Female  55.668202   68.982530
6625  Female  55.739737  108.121969
6176  Female  55.851214  103.767137
9825  Female  55.979198   85.417534

In [57]:
q1=age.Height.quantile(0.25)

In [58]:
q3=age.Height.quantile(0.75)

In [59]:
iqr=q3-q1

In [61]:
lower_limit=q1-1.5*iqr

In [64]:
upper_limit=q1+1.5*iqr

In [75]:
q1,q2,q3,iqr,lower_limit,upper_limit

(63.50562048,
 66.31807008,
 69.1742617275,
 5.668641247499998,
 55.00265860875,
 72.00858235125)

In [77]:
age[(age.Height<lower_limit) | (age.Height>upper_limit)]

      Gender     Height      Weight
9285  Female  54.263133   64.700127
6624  Female  54.616858   71.393749
7294  Female  54.873728   78.606670
1841    Male  72.021975  202.746637
3821    Male  72.031131  208.696208
...      ...        ...         ...
994     Male  78.095867  255.690835
1317    Male  78.462053  227.342565
3285    Male  78.528210  253.889004
3757    Male  78.621374  245.733783
2014    Male  78.998742  269.989698

[727 rows x 3 columns]

In [30]:
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (8,4)

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:

plt.hist(df.weight, bins=20, rwidth=0.8)
plt.xlabel('Weight')
plt.ylabel('Count')
plt.show()