In [1]:
#Missing values detection
import pandas as pd

In [22]:
md= pd.read_csv('deathcases.csv')

In [23]:
md

     year  Month State leadingcause  Count  Annotation_Code  Annotation_Desc
0    2017      1    CA          ALZ   1631              NaN              NaN
1    2017      1    CA          CAN   5219              NaN              NaN
2    2017      1    CA          CLD   1640              NaN              NaN
3    2017      1    CA          DIA    973              NaN              NaN
4    2017      1    CA          HOM    169              NaN              NaN
..    ...    ...   ...          ...    ...              ...              ...
667  2020     12    CA          NEP    303              NaN              NaN
668  2020     12    CA          OTH  17228              NaN              NaN
669  2020     12    CA          PNF    322              NaN              NaN
670  2020     12    CA          STK   1242              NaN              NaN
671  2020     12    CA          SUI    118              NaN              NaN

[672 rows x 7 columns]

In [14]:
# detecting missing values from the dataset

symbols=["?","*","NaN"]
for row in md:
    if set(row) & set(symbols):
         print("hi")

In [24]:
md.isnull().sum()

year                 0
Month                0
State                0
leadingcause         0
Count                0
Annotation_Code    672
Annotation_Desc    672
dtype: int64

In [18]:
md.columns

Index(['ID', 'City', 'Items', 'Price', 'Payment', 'Tax', 'Transaction'], dtype='object')

In [20]:
# To get the entire row of missing value
md[md.City.isnull()]

Empty DataFrame
Columns: [ID, City, Items, Price, Payment, Tax, Transaction]
Index: []

In [27]:
md['leadingcause'].value_counts()

SUI    48
STK    48
NEP    48
INJ    48
ALZ    48
PNF    48
OTH    48
HYP    48
DIA    48
HOM    48
CLD    48
HTD    48
CAN    48
LIV    48
Name: leadingcause, dtype: int64

In [28]:

# to drop the null values
md.dropna(how='any')

Empty DataFrame
Columns: [year, Month, State, leadingcause, Count, Annotation_Code, Annotation_Desc]
Index: []

In [29]:
md.dropna(how='all')

     year  Month State leadingcause  Count  Annotation_Code  Annotation_Desc
0    2017      1    CA          ALZ   1631              NaN              NaN
1    2017      1    CA          CAN   5219              NaN              NaN
2    2017      1    CA          CLD   1640              NaN              NaN
3    2017      1    CA          DIA    973              NaN              NaN
4    2017      1    CA          HOM    169              NaN              NaN
..    ...    ...   ...          ...    ...              ...              ...
667  2020     12    CA          NEP    303              NaN              NaN
668  2020     12    CA          OTH  17228              NaN              NaN
669  2020     12    CA          PNF    322              NaN              NaN
670  2020     12    CA          STK   1242              NaN              NaN
671  2020     12    CA          SUI    118              NaN              NaN

[672 rows x 7 columns]

In [30]:
md.dropna(subset=['Count'],how='all')

     year  Month State leadingcause  Count  Annotation_Code  Annotation_Desc
0    2017      1    CA          ALZ   1631              NaN              NaN
1    2017      1    CA          CAN   5219              NaN              NaN
2    2017      1    CA          CLD   1640              NaN              NaN
3    2017      1    CA          DIA    973              NaN              NaN
4    2017      1    CA          HOM    169              NaN              NaN
..    ...    ...   ...          ...    ...              ...              ...
667  2020     12    CA          NEP    303              NaN              NaN
668  2020     12    CA          OTH  17228              NaN              NaN
669  2020     12    CA          PNF    322              NaN              NaN
670  2020     12    CA          STK   1242              NaN              NaN
671  2020     12    CA          SUI    118              NaN              NaN

[672 rows x 7 columns]

In [37]:
md.fillna(5,inplace= True)
md

     year  Month State leadingcause  Count  Annotation_Code  Annotation_Desc
0    2017      1    CA          ALZ   1631              5.0              5.0
1    2017      1    CA          CAN   5219              5.0              5.0
2    2017      1    CA          CLD   1640              5.0              5.0
3    2017      1    CA          DIA    973              5.0              5.0
4    2017      1    CA          HOM    169              5.0              5.0
..    ...    ...   ...          ...    ...              ...              ...
667  2020     12    CA          NEP    303              5.0              5.0
668  2020     12    CA          OTH  17228              5.0              5.0
669  2020     12    CA          PNF    322              5.0              5.0
670  2020     12    CA          STK   1242              5.0              5.0
671  2020     12    CA          SUI    118              5.0              5.0

[672 rows x 7 columns]

In [34]:
md.fillna(method='bfill')
# to fill the consecutive number from down to up

     year  Month State leadingcause  Count  Annotation_Code  Annotation_Desc
0    2017      1    CA          ALZ   1631              NaN              NaN
1    2017      1    CA          CAN   5219              NaN              NaN
2    2017      1    CA          CLD   1640              NaN              NaN
3    2017      1    CA          DIA    973              NaN              NaN
4    2017      1    CA          HOM    169              NaN              NaN
..    ...    ...   ...          ...    ...              ...              ...
667  2020     12    CA          NEP    303              NaN              NaN
668  2020     12    CA          OTH  17228              NaN              NaN
669  2020     12    CA          PNF    322              NaN              NaN
670  2020     12    CA          STK   1242              NaN              NaN
671  2020     12    CA          SUI    118              NaN              NaN

[672 rows x 7 columns]

In [38]:
import numpy as np
md.fillna(np.mean(md))

     year  Month State leadingcause  Count  Annotation_Code  Annotation_Desc
0    2017      1    CA          ALZ   1631              5.0              5.0
1    2017      1    CA          CAN   5219              5.0              5.0
2    2017      1    CA          CLD   1640              5.0              5.0
3    2017      1    CA          DIA    973              5.0              5.0
4    2017      1    CA          HOM    169              5.0              5.0
..    ...    ...   ...          ...    ...              ...              ...
667  2020     12    CA          NEP    303              5.0              5.0
668  2020     12    CA          OTH  17228              5.0              5.0
669  2020     12    CA          PNF    322              5.0              5.0
670  2020     12    CA          STK   1242              5.0              5.0
671  2020     12    CA          SUI    118              5.0              5.0

[672 rows x 7 columns]

In [11]:
import numpy as np
df=pd.Series([1,2,np.NaN,4,np.NaN,5,6,np.NaN,9])

In [12]:
df

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
5    5.0
6    6.0
7    NaN
8    9.0
dtype: float64

In [39]:
df.shape

(9,)

In [42]:
type(df)

pandas.core.series.Series

In [43]:
df.describe()

count    6.000000
mean     4.500000
std      2.880972
min      1.000000
25%      2.500000
50%      4.500000
75%      5.750000
max      9.000000
dtype: float64

In [47]:
df.values

array([ 1.,  2., nan,  4., nan,  5.,  6., nan,  9.])

In [48]:
df.count()

6

In [50]:
df.value_counts()

9.0    1
6.0    1
5.0    1
4.0    1
2.0    1
1.0    1
dtype: int64

In [51]:
df.unique()

array([ 1.,  2., nan,  4.,  5.,  6.,  9.])

In [14]:
df.fillna(np.mean(df))

0    1.0
1    2.0
2    4.5
3    4.0
4    4.5
5    5.0
6    6.0
7    4.5
8    9.0
dtype: float64

In [18]:
df.fillna(method='bfill')

0    1.0
1    2.0
2    4.0
3    4.0
4    5.0
5    5.0
6    6.0
7    9.0
8    9.0
dtype: float64

In [19]:
df.fillna(method='ffill')

0    1.0
1    2.0
2    2.0
3    4.0
4    4.0
5    5.0
6    6.0
7    6.0
8    9.0
dtype: float64

In [24]:
ip=df.interpolate()
ip

0    1.0
1    2.0
2    3.0
3    4.0
4    4.5
5    5.0
6    6.0
7    7.5
8    9.0
dtype: float64

In [25]:
median=np.median(ip)

In [26]:
median

4.5

In [32]:
max_thresold=ip.quantile(0.95)
max_thresold

8.399999999999999

In [33]:
min_thresold=ip.quantile(0.05)
min_thresold

1.4

In [35]:
ip[ip>max_thresold]

8    9.0
dtype: float64

In [36]:
#remove outliners
output=ip[(ip>min_thresold )& (ip<max_thresold)]

In [37]:
output

1    2.0
2    3.0
3    4.0
4    4.5
5    5.0
6    6.0
7    7.5
dtype: float64